/*carrosel*/
.carrosel {
    position: relative;/* Torna o carrossel um contêiner posicionado, para que os botões e outros elementos possam ser posicionados em relação a ele */
    max-width: 100%;/* Define a largura máxima do carrossel como 100% da largura do pai */
    margin:20px auto;/* Centraliza o carrossel horizontalmente e adiciona espaço acima/abaixo */
    overflow: hidden; /* Garante que as imagens não saiam dos limites do carrossel */
    overflow: hidden;/*overflow ixi sksksksksk*/
    border: 2px solid #fff;
    border-radius: 10px;
}

.carrosel-images {
    display: flex;
    transition: tarsform 0.5s ease-in-out;/* Adiciona uma transição suave ao deslizar as imagens */
}

.caerrosel-images img {
    width: 100%;
    flex-shrink: 0;/* Impede que as imagens diminuam de tamanho */
}

button{
    position: absolute;
    top: 50%; /* Centraliza os botões verticalmente */
    transform: translateY(-50%);/* Ajusta o alinhamento para garantir que os botões fiquem perfeitamente centralizados */
    background-color: rgba(0,0, 0, 00.5s);
    color: white;
    border: none;/* Remove a borda padrão dos botões */
    padding:10px;/* Adiciona espaçamento interno aos botões */
    cursor: pointer;/* Exibe o cursor como "mãozinha" ao passar o mouse */
    z-index: 1000;/* Garante que os botões fiquem acima das imagens */
}

button.prev{
    left:10px;/* Posiciona o botão "Anterior" à esquerda do carrossel */
}

button.next{
    right:10px;/* Posiciona o botão "Próximo" à direita do carrossel */
}

button:hover{
    background-color: rgba(0,0, 0, 0.8);
}

/*MENU*/

ul {
    text-transform: uppercase;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 35px;
    font-size: 1.2rem;
}

nav a {
    background: -webkit-linear-gradient(120deg, hsl(318, 94%, 61%), hsl(239, 69%, 51%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}

nav a:hover {
    border-bottom: 2px solid hsl(239, 69%, 51%);
    transition: ls;
}