* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
    font-weight: 600;
    list-style: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #111;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 600px;
    width: 100px;
    height: 100px;
}

.logo {
    font-size: 2rem;
    background-image: linear-gradient(120deg, hsl(318, 94%, 61%), hsl(239, 69%, 51%)); /* Gradiente do vermelho ao laranja */
    -webkit-background-clip: text; /* Aplica o gradiente no texto */
    color: transparent; /* Torna o texto transparente para que o gradiente seja visível */
    line-height: 37px;
    padding: 10px;
    font-weight: 600px;
    
}

ul {
    text-transform: uppercase;
    
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 35px;
    font-size: 1.2rem;
    
}

nav a {
    background: -webkit-linear-gradient(120deg, hsl(318, 94%, 61%), hsl(239, 69%, 51%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    transition: ls;
}

nav a:hover {
    border-bottom: 2px solid hsl(239, 69%, 51%);
    transform: s;
}

.content {
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 0px 400px;
}

.content img {
    width: 25rem;
    transform: translateY(0);
    animation: float 6s ease-in-out infinite;
}

.introdução {
    background: -webkit-linear-gradient(120deg, hsl(318, 94%, 61%), hsl(239, 69%, 51%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 300px;
    height: 400px;
    font-size: 1.3rem;
    font-weight: 400;
    margin-top: 200px;
}

@keyframes float {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translate(-50px);
    }
    100%
    {
        transform: translate(0px);
    }
}




.carrossel {
    width: 100%;
    overflow: hidden;
    position: relative;
}  /* Esconde as imagens fora da área visível */

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%; /* Cada slide ocupa 100% da largura do carrossel */
}

img {
    width: 100%;
    height: auto;
    display: block;
}

/* Adicionando um efeito de transição automática (carrossel infinito) */
@keyframes slideAnimation {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-200%);
    }
}

/* Aplica a animação no carrossel */
.carrossel .slides {
    animation: slideAnimation 12s infinite;
}
/*Carrossel Fim */

.info{
    text-align: left;
}


