body {
    background-color: #111; 
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui;
    font-weight: 600;
}

header {
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    padding: 10px;
}

.logo {
    margin-left: 10px;
    flex-direction: column;
    line-height: 10px;
    font-size: 3rem;
}

ul{
    text-transform: uppercase;
}


    

li{
    display: inline-block;
    transition: 0.20s;
}

a{
    list-style-type: none;
    margin-right: 10px;
}

nav a {
    background: -webkit-linear-gradient(120deg, hsl(318, 94%, 61%), hsl(239, 69%, 51%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    transition: ls;
}
